In [ ]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences
from numpy import array
import keras
from keras.preprocessing.text import one_hot
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from numpy import asarray
from numpy import zeros

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

DATASET 1

In [ ]:
url_d1_train = "/content/drive/MyDrive/MSc Project/Data/USABLE/Fake News (Kaggle) 0-true 1-fake/train.csv"
df_d1_train = pd.read_csv(url_d1_train)
df_d1_train.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
df1 = df_d1_train.drop(['id', 'author'], axis=1)

In [ ]:
df1.isnull().sum()

title    558
text      39
label      0
dtype: int64

In [ ]:
df1 = df1.dropna()

In [ ]:
df1.isnull().sum()

title    0
text     0
label    0
dtype: int64

In [ ]:
df1.head()

                                               title  ... label
0  House Dem Aide: We Didn’t Even See Comey’s Let...  ...     1
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...  ...     0
2                  Why the Truth Might Get You Fired  ...     1
3  15 Civilians Killed In Single US Airstrike Hav...  ...     1
4  Iranian woman jailed for fictional unpublished...  ...     1

[5 rows x 3 columns]

In [ ]:
df1['total'] = df1['title'] + ' ' + df1['text']

In [ ]:
df1 = df1.drop(['title', 'text'], axis=1)

In [ ]:
df1

       label                                              total
0          1  House Dem Aide: We Didn’t Even See Comey’s Let...
1          0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          1  Why the Truth Might Get You Fired Why the Trut...
3          1  15 Civilians Killed In Single US Airstrike Hav...
4          1  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795      0  Rapper T.I.: Trump a ’Poster Child For White S...
20796      0  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797      0  Macy’s Is Said to Receive Takeover Approach by...
20798      1  NATO, Russia To Hold Parallel Exercises In Bal...
20799      1  What Keeps the F-35 Alive   David Swanson is a...

[20203 rows x 2 columns]

In [ ]:
X = df1['total'].to_list()
y = df1['label'].to_list()

DATASET 3

In [ ]:
url_d3_true = "/content/drive/MyDrive/MSc Project/Data/USABLE/Fake and real news dataset (Kaggle)/True.csv"
url_d3_fake = "/content/drive/MyDrive/MSc Project/Data/USABLE/Fake and real news dataset (Kaggle)/Fake.csv"
df_d3_true = pd.read_csv(url_d3_true)
df_d3_fake = pd.read_csv(url_d3_fake)

In [ ]:
df3_true = pd.DataFrame()
df3_fake = pd.DataFrame()
df3_true['total'] = df_d3_true['title'] + ' ' + df_d3_true['text']
df3_fake['total'] = df_d3_fake['title'] + ' ' + df_d3_fake['text']

In [ ]:
df3_true['label'] = 0
df3_fake['label'] = 1

In [ ]:
df3 = pd.DataFrame()
f = [df3_true, df3_fake]
df3 = pd.concat(f)

In [ ]:
df3

                                                   total  label
0      As U.S. budget fight looms, Republicans flip t...      0
1      U.S. military to accept transgender recruits o...      0
2      Senior U.S. Republican senator: 'Let Mr. Muell...      0
3      FBI Russia probe helped by Australian diplomat...      0
4      Trump wants Postal Service to charge 'much mor...      0
...                                                  ...    ...
23476  McPain: John McCain Furious That Iran Treated ...      1
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      1
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      1
23479  How to Blow $700 Million: Al Jazeera America F...      1
23480  10 U.S. Navy Sailors Held by Iranian Military ...      1

[44898 rows x 2 columns]

In [ ]:
df3.isnull().sum()

total    0
label    0
dtype: int64

In [ ]:
X.extend(df3['total'].to_list())

In [ ]:
y.extend(df3['label'].to_list())

In [ ]:
print(len(X))
print(len(y))

65101
65101

In [ ]:
df = pd.DataFrame(list(zip(X, y)),
               columns =['text', 'label'])

In [ ]:
df.to_csv(r'/content/drive/MyDrive/MSc Project/Data/dataset1+3.csv')