In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences
from numpy import array
import keras
from keras.preprocessing.text import one_hot
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from numpy import asarray
from numpy import zeros

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

DATASET 4

In [32]:
url_d6_true = "/content/drive/MyDrive/MSc Project/Data/6. ISOT Fake News Dataset/True.csv"
url_d6_fake = "/content/drive/MyDrive/MSc Project/Data/6. ISOT Fake News Dataset/Fake.csv"
df_d6_true = pd.read_csv(url_d6_true)
df_d6_fake = pd.read_csv(url_d6_fake)

In [33]:
df_d6_true.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [34]:
df_d6_true['label'] = 0
df_d6_true

                                                   title  ... label
0      As U.S. budget fight looms, Republicans flip t...  ...     0
1      U.S. military to accept transgender recruits o...  ...     0
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...     0
3      FBI Russia probe helped by Australian diplomat...  ...     0
4      Trump wants Postal Service to charge 'much mor...  ...     0
...                                                  ...  ...   ...
21412  'Fully committed' NATO backs new U.S. approach...  ...     0
21413  LexisNexis withdrew two products from Chinese ...  ...     0
21414  Minsk cultural hub becomes haven from authorities  ...     0
21415  Vatican upbeat on possibility of Pope Francis ...  ...     0
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     0

[21417 rows x 5 columns]

In [35]:
df_d6_fake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [36]:
df_d6_fake['label'] = 1
df_d6_fake

                                                   title  ... label
0       Donald Trump Sends Out Embarrassing New Year’...  ...     1
1       Drunk Bragging Trump Staffer Started Russian ...  ...     1
2       Sheriff David Clarke Becomes An Internet Joke...  ...     1
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...     1
4       Pope Francis Just Called Out Donald Trump Dur...  ...     1
...                                                  ...  ...   ...
23476  McPain: John McCain Furious That Iran Treated ...  ...     1
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...     1
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...     1
23479  How to Blow $700 Million: Al Jazeera America F...  ...     1
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...     1

[23481 rows x 5 columns]

In [38]:
df_d6_true.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [39]:
df_d6_fake.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [46]:
X = (df_d6_true['title'] + ' ' + df_d6_true['text']).to_list()

In [47]:
X.extend((df_d6_fake['title'] + ' ' + df_d6_fake['text']).to_list())

In [49]:
len(X)

44898

In [51]:
y = df_d6_true['label'].to_list()

In [52]:
y.extend(df_d6_fake['label'].to_list())

In [53]:
len(y)

44898

In [57]:
df = pd.DataFrame(list(zip(X, y)),
               columns =['text', 'label'])

In [58]:
df.to_csv(r'/content/drive/MyDrive/MSc Project/Data/dataset6.csv', index=False)

In [59]:
url_save = '/content/drive/MyDrive/MSc Project/Data/dataset6.csv'
df_check = pd.read_csv(url_save)
df_check

                                                    text  label
0      As U.S. budget fight looms, Republicans flip t...      0
1      U.S. military to accept transgender recruits o...      0
2      Senior U.S. Republican senator: 'Let Mr. Muell...      0
3      FBI Russia probe helped by Australian diplomat...      0
4      Trump wants Postal Service to charge 'much mor...      0
...                                                  ...    ...
44893  McPain: John McCain Furious That Iran Treated ...      1
44894  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      1
44895  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      1
44896  How to Blow $700 Million: Al Jazeera America F...      1
44897  10 U.S. Navy Sailors Held by Iranian Military ...      1

[44898 rows x 2 columns]