In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences
from numpy import array
import keras
from keras.preprocessing.text import one_hot
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from numpy import asarray
from numpy import zeros

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

DATASET 2

In [3]:
url_d2 = "/content/drive/MyDrive/MSc Project/Data/2. Fake news (Kaggle)/fake_or_real_news.csv"
df_d2 = pd.read_csv(url_d2)
df_d2.head()

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL

[5 rows x 4 columns]

In [6]:
df_d2.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [17]:
X = df_d2['title'] + ' ' + df_d2['text']

In [18]:
X

0       You Can Smell Hillary’s Fear Daniel Greenfield...
1       Watch The Exact Moment Paul Ryan Committed Pol...
2       Kerry to go to Paris in gesture of sympathy U....
3       Bernie supporters on Twitter erupt in anger ag...
4       The Battle of New York: Why This Primary Matte...
                              ...
6330    State Department says it can't find emails fro...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332    Anti-Trump Protesters Are Tools of the Oligarc...
6333    In Ethiopia, Obama seeks progress on peace, se...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Length: 6335, dtype: object

In [14]:
# Exchange label value "REAL" and "FAKE" for 0 and 1

def changelabels(labels):
    newlist = []
    for l in labels:
        if l == "REAL":
            newlist.append(0)
        else:
            newlist.append(1)
    return newlist

In [20]:
y = changelabels(df_d2['label'].to_list())

In [21]:
df = pd.DataFrame(list(zip(X, y)),
               columns =['text', 'label'])

In [24]:
df.to_csv(r'/content/drive/MyDrive/MSc Project/Data/dataset2.csv', index=False)

In [26]:
url_save = '/content/drive/MyDrive/MSc Project/Data/dataset2.csv'
df_check = pd.read_csv(url_save)
df_check.head()

                                                text  label
0  You Can Smell Hillary’s Fear Daniel Greenfield...      1
1  Watch The Exact Moment Paul Ryan Committed Pol...      1
2  Kerry to go to Paris in gesture of sympathy U....      0
3  Bernie supporters on Twitter erupt in anger ag...      1
4  The Battle of New York: Why This Primary Matte...      0